{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h4>Password Reset Completed !!</h4>

            <div>
                <iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtK" width="200" height="200" frameborder="0"
                        class="giphy-embed" allowfullscreen></iframe>
                <!--                <img src="app/static/images/success.jpg" height="200" width="200" frameborder="0" allowfullscreen>-->
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}